.header {
  background-color: #f9f9f9;
  box-shadow: 0 .3rem .3rem rgba(0, 0, 0, .1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 2rem;
}

.header__title {
  font-size: 2.2rem;
}

.header__user-avatar {
  overflow: hidden;
  padding: .25rem;
  width: 4.5rem;
}

.header__user-avatar img {
  border-radius: 50%;
  width: 100%;
}